
:root {
    /* Palette */
    --Dark: #4a4a4a;
    --Gray: #7a7a7a;
    --Teal: #3bc4c4;

    /* NoteLock brand colours: */
    --NL-Blue: #34c7aa;
    --NL-Green: #86f493;

    --NL-Gradient: #000000;
    --NL-Gradient-Reverse: #000000;
    --Gradient-btn: #000000;

    --navbar-logo-size: 100px;
    --h1-size: 50px;
    --h2-size: 30px;
    --h3-size: 25px;
    --p-size: 15px;

    --h2-color: var(--Dark);

    --Heading: 70px;
}

html {
  scroll-behavior: smooth;
}
/* noto-serif-jp-300 - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-serif-jp-v21-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-serif-jp-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-jp-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-serif-jp-v21-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-serif-jp-v21-latin-300.otf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-serif-jp-v21-latin-300.svg#NotoSerifJP') format('svg'); /* Legacy iOS */
}

/* noto-serif-jp-regular - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-jp-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-serif-jp-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-jp-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-serif-jp-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-serif-jp-v21-latin-regular.otf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-serif-jp-v21-latin-regular.svg#NotoSerifJP') format('svg'); /* Legacy iOS */
}

/* noto-serif-jp-600 - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-serif-jp-v21-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-serif-jp-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-jp-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-serif-jp-v21-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-serif-jp-v21-latin-600.otf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-serif-jp-v21-latin-600.svg#NotoSerifJP') format('svg'); /* Legacy iOS */
}

/* noto-serif-jp-700 - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-serif-jp-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-serif-jp-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-jp-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-serif-jp-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-serif-jp-v21-latin-700.otf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-serif-jp-v21-latin-700.svg#NotoSerifJP') format('svg'); /* Legacy iOS */
}

/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v20-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}


header {
  background: var(--Teal);
  font-size: var(--Heading);
  color:white;
  font-weight: 700;
  height: 200px;
  text-align: center;
  padding: 50px 0;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.65px;
    overflow-x: hidden;
}

p {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 300;
}

.star {
  fill: #3bc4c4 !important;
}

nav {
  background: rgba(255, 255, 255, 1) !important;

}

@supports (backdrop-filter: blur(3px)) {
  nav {
    background: rgba(255, 255, 255, 0.93) !important;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}

.promo {
    background: black;
    text-align: center;
    min-height: 30px;
}

.navbar {
  background: rgba(255, 255, 255, .2);
  box-shadow: 0px 7px 53px -21px rgba(0,0,0,0.5);
}

@media only screen and (min-width: 1100px){
    .large-screen-2 {
    display: none;
    }
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

@media only screen and (max-width: 1099.99px){
    .nav-brand {
      margin-left: 5px !important;
    }
    .nav-link  {
      margin-left: -7px !important;
      margin-top: 3px !important;
    }
    .large-screen-1 {
    display: none;
    }
}

.nav-brand {
    width: var(--navbar-logo-size);
    -webkit-transition:1s ease;
    -moz-transition:1s ease;
    -ms-transition:1s ease;
    -o-transition:1s ease;
    transition:1s ease;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

.semi-bold {
    font-weight: 600;
}


.animated {
    box-shadow: none;
    -webkit-transition: 0.75s ease;
    -moz-transition: 0.75s ease;
    -ms-transition: 0.75s ease;
    -o-transition: 0.75s ease;
    transition: 0.75s ease;

    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.navbar-light .navbar-toggler {
    border-color: rgb(0, 0, 0, 0);
}

.navbar-light .navbar-toggler:focus {
    background: none;
    outline: 0;
}

.navbar-light .navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: gray;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.navbar-light .navbar-toggler:hover span,
.navbar-light .navbar-toggler:focus span {
    background: gray;
}

/* rotate first span */
.navbar-light .navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-light .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}

/* rotate third span */
.navbar-light .navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-light .navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

.navbar-light .navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: gray;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

/* rotate first span */
.navbar-light .navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-light .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}

/* rotate third span */
.navbar-light .navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-light .navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

.btn {
    outline: none;
}

.btn:hover {
    background-position: 100% 0;
}

.btn, a, a:hover {
    font-size: var(--p-size);
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.btn-main {
    border-radius: 0px;
    background: black;
    color: white;
}

.btn-footer {
    box-shadow: none !important;
}

.btn-main:hover {
    color: white;
}

b {
  font-weight: 600;
}

h1 {
    font-size: var(--h1-size);
    font-weight: 700;
    color: var(--Dark);
}

h2 {
    font-size: var(--h2-size);
    font-weight: 700;
    color: var(--h2-color);
}

h3 {
    font-weight: 500;
    font-size: var(--h3-size);
}

p {
    font-size: var(--p-size);
    color: black;
}

.floating-overlay {
    width: 600px;
    position: absolute;
    top: 60px;
    left: 35px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);
	}
}

.img-float {
    overflow: hidden;
    transform: translatey(0px);
    img { width: 100%; height: auto; }
}

.img-float-1 {
	 animation: float 12s ease-in-out infinite;
}

.img-float-2 {
	  animation: float 8s ease-in-out infinite;
}

.img-float-3 {
	  animation: float 5s ease-in-out infinite;
}

.animated.scrolled {
    margin-top: 0px;
    box-shadow: 0px 7px 53px -21px rgba(0,0,0,0.15);
    --navbar-logo-size: 75px;
    -webkit-transition:1s ease;
    -moz-transition:1s ease;
    -ms-transition:1s ease;
    -o-transition:1s ease;
    transition:1s ease;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

/* footer */

.footer {
    background-color: #f2f2f2;
    --h2-color: var(--Teal);
}

.footer-logo {
    width: 200px;
}

.form-control {
    width: 80%;
}

.fa {
    color: white;
}

.img-feature {
    height: 50px;
}

.coll-2 {
  margin-left: 15px;
}

/* MAKING DESIGN RESPONSIVE */

/* Laptop screen size */
@media only screen and (min-width: 1100px) {
    .medium-screen, .small-screen {
      display: none;
    }
}

/* Tablet screen size: */
@media only screen and (min-width:600px) and (max-width: 1099.99px) {
    .small-screen, .large-screen {
      display: none;
    }

    .coll-2 {
      margin-left: 0px;
    }

    body {
      --Heading: 60px;
    }
}


/* Phone screen size: */
@media only screen and (max-width: 599.99px) {
    .medium-screen, .large-screen {
      display: none;
    }
    body {
        --h1-size: 35px;
        --p-size: 15px;
        --navbar-logo-size: 85px;
        --Heading: 40px;
    }

    header {
      height: 160px;
    }

    .animated.scrolled {
      --navbar-logo-size: 60px;
    }

    .coll-1, .coll-2, .coll-3 {
        margin-left: 15px;
        margin-right: 15px;
    }

    h2 {
      font-size: 25px;
    }

    a, a:hover, p, h.footer {
      font-size: 14px !important;
    }

    .btn, .btn:hover {
      font-size: 17px;
      font-weight: 500;
    }

    .nav-link, .nav-link:hover {
      font-size: 17px;
    }
}


/* footer */
@media only screen and (min-width:991.99px) and (max-width: 1099.99px) {
    .footer-screen-1 {
      display: inline;
    }

    .footer-screen-2 {
      display: none;
    }
}
